@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");
.wrapper {
  font-family: "Montserrat";
  max-width: 1440px;
  margin: 0 auto;
}
.cardsFilm {
  flex-wrap: wrap;
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
}
.pages {
  margin: 0 auto;
}
.pagesBtn {
  font-size: 30px;
  margin-left: 30px;
  cursor: pointer;
}
.pagesBtn_active {
  font-size: 30px;
  margin-left: 30px;
  cursor: pointer;
  color: #ff4101;
}
.test {
  text-decoration: none;
  font-size: 16px;
  color: black;
}
